$powder-blue: #BCE6E4;
$steel-blue: #85B4CA;
$dark-gray: #1F1B20;
$dim-gray: #5B3D3C;
$light-steel-blue: #DEE7EA;


$shadow:  rgba(0,0,0, 0.2);
$font-color:  #807373;
$white-color: #f7f5f5;
$black-color: #000000;
$grey-color: rgba(105,105,105,0.4);
$blue-color:  #dee7ea;