<div class="aboutWrapper">
  <div data-aos="fade-up">
    <img src="assets/images/aboutImg.jpg">
  </div>
  <div class="story" data-aos="fade-up">
    <h1>A short story about me!</h1>
    <p>I'm Pooja, a highly-motivated gal with 5 years of work experience in mobile and web applications development using cutting-edge technologies in an Agile environment. 
      <br><br>
      Key strengths being - effective communication skills, quick learner with outstanding problem-solving skills and capability of working efficiently under aggressive deadlines.</p>
    <a href="assets/cv/PoojaPatilResume.pdf" download><button class="buttonStyle">Download CV</button></a>
  </div>
</div>
<!-- Time Line code -->
<!-- <div>
  <h1 style="text-align: center;">Education</h1>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>2008 - 2012</h2>
        <p>Bachelor of Engineer(B.E.) in Information Science and Engineering</p>
        <br>Sapthagiri college of Engineering
        <br>Visvesvaraya Technological University
        <br>76.06%
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2008</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>2006</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
  </div>
</div> -->
<!-- Experience -->
<div class="experience">
	<h1>Experience</h1>
	<div class="cards" data-aos="fade-up">
		<div class="card">
        <img class="comp-logo" src="assets/images/logos/ge.png">
        <div>
            <h3><b>2018 Jan - Present</b></h3> 
            <p class="company">GE Healthcare</p>
            <p>Software Engineer</p>
        </div>
		</div>
		<div class="card" data-aos="fade-up">
      <img class="comp-logo" src="assets/images/logos/ge.png">
      <div>
          <h3><b>2017 Jan - 2017 Dec</b></h3> 
          <p class="company">GE Power</p>
          <p>Software Engineer</p>
      </div>
    </div>
    <div class="card" data-aos="fade-up">
        <img class="comp-logo" style="height:50px; margin-top:30px;" src="assets/images/logos/philips.gif">
        <div>
            <h3><b>2016 Jan - 2016 Aug</b></h3>
            <p class="company">Philips(client location)</p>
            <p>Software Engineer</p>
        </div>
		</div>
		<div class="card" data-aos="fade-up">
        <img class="comp-logo" src="assets/images/logos/accenture.png">
        <div>
            <h3><b>2013 Jan - 2017 Jan</b></h3>
            <p class="company">Accenture</p>
            <p>Software Engineer</p>
        </div>
		</div>
	</div>
</div>