<div class="contactWrapper">
	<div class="getInTouch" data-aos="fade-up">
		<h1>Get In Touch</h1>
		<p><b>Location:</b> Bangalore, Karnataka India</p>
		<p><b>Phone:</b> +91 9620434274</p>
		<p><b>Email:</b> pooja.h.patil90@gmail.com</p>
		<span>
		  <a href="https://www.facebook.com/profile.php?id=100002089515421" target="_blank"><i class="fa fa-facebook-square"></i></a>
		  <a href="https://www.instagram.com/pooja.h.patil/" target="_blank"><i class="fa fa-instagram"></i></a>
		  <a href="https://www.linkedin.com/in/pooja-h-patil/" target="_blank"><i class="fa fa-linkedin"></i></a>
		  <a href="https://github.com/poojahpatil90" target="_blank"><i class="fa fa-github"></i></a>
		  <a href="https://stackoverflow.com/users/9451333/pooja-patil" target="_blank"><i class="fa fa-stack-overflow"></i></a>
		  <a href="https://plus.google.com/u/0/116043018465696176647" target="_blank"><i class="fa fa-google-plus"></i></a>
		</span>
	</div>
	<div></div>
	<!-- <div data-aos="fade-up">
		<h1>Leave a Message</h1>
		<form class="leaveMessage">
			<input type="text" name="" placeholder="Name*"><br>
			<input type="text" name="" placeholder="Email*"><br>
			<textarea rows="5" placeholder="Type Your Message"></textarea>
			<button class="buttonStyle">Send</button>
		</form>
	</div> -->
</div>