<div class="skillsWrapper">
  <h1>Skills</h1>

  <div class="card">
    <p class="skillHeader">HTML & CSS</p>
    <div class="cards">
      <div>
        <img src="assets/images/logos/HTML5.png">
        <h3>
          <b>HTML 5</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/css3.png">
        <h3>
          <b>CSS 3</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/sass.png">
        <h3>
          <b>SASS</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/Bootstrap.svg">
        <h3>
          <b>Bootstrap</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/angularmaterial.jpeg">
        <h3>
          <b>Angular Material</b>
        </h3>
	  </div>
	</div>
	</div>

  <div class="card">
    <p class="skillHeader">JAVASCRIPT</p>
    <div class="cards">
      <div class="skill">
        <img src="assets/images/logos/javascript.svg">
        <h3>
          <b>Javascript</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/angular.svg">
        <h3>
          <b>Angular</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/typescript.png">
        <h3>
          <b>Typescript</b>
        </h3>
	  </div>
	  <div  class="skill">
		<img src="assets/images/logos/nodejs.png">
		<h3>
			<b>Node JS</b>
		</h3>
	  </div>
      <div  class="skill">
        <img src="assets/images/logos/appcelerator.png">
        <h3>
          <b>Appcelerator</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/ionic.png">
        <h3>
          <b>Ionic</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/Underscore.png">
        <h3>
          <b>Underscore JS</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/Jasmine.png">
        <h3>
          <b>Jasmine</b>
        </h3>
      </div>
      <div  class="skill">
        <img src="assets/images/logos/protractor.png">
        <h3>
          <b>Protractor</b>
        </h3>
      </div>
      <div class="skill">
        <img src="assets/images/logos/karma.svg">
        <h3>
          <b>Karma</b>
        </h3>
      </div>
    </div>
  </div>




  <div class="card">
    <p class="skillHeader">DATABASE TECHNOLOGIES</p>
    <div class="cards">
      <div>
        <img src="assets/images/logos/SQL.png">
        <h3>
          <b>SQL & SQL Lite</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/mysql.png">
        <h3>
          <b>My SQL</b>
        </h3>
      </div>
    </div>
  </div>
  <div class="card">
    <p class="skillHeader">TOOLS</p>
    <div class="cards">
      <div>
        <img src="assets/images/logos/git.png">
        <h3>
          <b>GIT</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/gulp.png">
        <h3>
          <b>Gulp</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/Jenkins.png">
        <h3>
          <b>Jenkins</b>
        </h3>
      </div>
      <div>
        <img src="assets/images/logos/sourcetree.png">
        <h3>
          <b>Source Tree</b>
        </h3>
      </div>
    </div>
  </div>
</div>
